*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1200px;
}

p {
	padding-bottom: 20px;
}
.menu {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
	height: 130px;
	background-color: #CCE7FF;
}


.page {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #A3E8A0;
}

.container {
	overflow: hidden;
	background-color: #E6F3FF;
}

.sidebar {
	float: left;
	width: 500px;
	height: 500px;
	background-color: #E6F3FF;
	position: fixed;
}

.content {
	font-family: verdana;
	font-size: 20px;
	padding-top: 25px;
	padding-left: 530px;
	padding-right: 20px;
	width: 900px;
	height: 1450px;
	background-color: #C2DCF2;
}

.footer {
	clear: both;
	height: 180px;
	background-color: #CCE7FF;
}









